projective @ git+https://github.com/ry-yoshida-dev/Projective.git
opencv-keypoint @ git+https://github.com/ry-yoshida-dev/OpenCVKeypoint.git
opencv-utility @ git+https://github.com/ry-yoshida-dev/OpenCVUtility.git
dictconfig-handler @ git+https://github.com/ry-yoshida-dev/DictConfigHandler.git